:root {
	--color-accent: #32b12d;
	--color-accent-dark: #25741a;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-accent: #25741a;
		--color-accent-dark: #32b12d;
	}
} */

main {
	background-color: inherit;
}

h2 {
	background-color: var(--color-accent);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

table {
	background-color: var(--background);
	color: var(--foreground);
	width: 100%;
	border-collapse: collapse;
	border: 2px solid var(--color-accent);
}

tr:nth-child(even) {
	background-color: var(--color-accent);
}

th {
	font-weight: bold;
	text-align: right;
	border-right: 2px solid var(--color-accent);
	padding: 10px;
	border: 2px solid var(--color-accent);
}

td {
	text-align: left;
	padding: 10px;
	border: 2px solid var(--color-accent);
}

.character-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.character-info {
	width: calc(50% - 20px);
	/* Adjust width as needed */
	background-color: var(--background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 20px;
}

.character-info img {
	width: 100%;
	height: auto;
}

.character-info h3 {
	padding: 20px;
	margin: 0;
}

.character-info p {
	padding: 20px;
	margin: 0;
}

li {
	padding: 5px;
}

a {
	color: var(--color-accent);
}

a:active {
	color: var(--color-accent-dark)
}