:root {

	/* --accent: #40bbbf; */
	--accent: #00aadd;
	--accent-off: #0088aa;


	--forground: #000000;
	--forground-off: #1f1f1f;
	--background: #DADADA;
	--background-off: #E6E6E6;
	/* OLD ACCENT COLOR */
	/* --accent: #5890aa; */
	/* --accent-off: #3d6e85; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--forground: #ffffff;
		--forground-off: #E0E0E0;


		--background: #252525;
		--background-off: #191919;



		/* --forground: #ffffff; */
		/* --forground-off: #b1c0c7; */
		/* --background: #252525; */
		/* --background-off: #191919; */
		/* --accent: #3d6e85; */
		/* --accent-off: #5890aa; */
	}
}

html {
	/* height: 100%; not sure this is userful?*/
	background-color: var(--background-off);
}

body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/* max-width: 1200px; */
	/* min-height: 100%; */

	/* background-color: var(--background); */
	color: var(--forground-off);
}

/* HEADER */
header {
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	background-color: var(--accent);
	padding: 7px;
	display: block;
}

header * {
	display: inline-flex;
}

form {
	margin: 0px;
}

input[type=text] {
	/* Adjust max-width as needed */
	/* Center the container horizontally with some margin */
	border: 3px solid var(--accent-off);
	border-radius: 15px;
	background-color: var(--accent-off);
	color: var(--forground);
	font-size: 16;
}

header input:focus {
	outline: none;
}

.nav-btn {
	color: var(--forground);
	border-radius: 0px;
	/* margin: 10px; */
	padding: 0;
	background-color: transparent;
	border: none;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-decoration: none;
	/* display: inline-block; */
	margin-left: 10px;
	margin-right: 10px;
}

header {
	display: flex;
	align-items: center;
}

.site-search {
	flex: 1;
	display: flex;
	margin: 0 20px;
	background-color: var(--accent-off);
	border-radius: 15px;
}

.site-search input {
	flex: 1;
	padding: 5px;
	color: var(--forground);
}

.site-search button {
	padding: 5px 10px;
	border: none;
	background-color: transparent;
	color: var(--forground);
	border-radius: 4px;
	cursor: pointer;
}

.site-search button:hover {
	color: var(--forground-off);
	background-color: transparent;
}

.home-btn {
	margin-left: 10px;
}

.nav-btn:hover {
	color: var(--forground-off);
}

.dark-mode-toggle {
	/* Set the width and height of the button to match the size of your icon */
	width: 32px;
	height: 32px;
	/* Remove the default button styles */
	border: none;
	padding: 0;
	margin-left: 10px;
	/* Center the background image within the button */
	background-position: center;
	background-repeat: no-repeat;
	/* Remove the default button text */
	color: transparent;
	background-color: transparent;
}

/* FOOTER */
footer {
	padding: 20px;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
}

.footer-text {
	color: var(--accent-off);
	font-size: 14px;
}

/* MAIN */
main {
	position: relative;
	--pad: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-y: auto;
	padding: 50px;
	padding-top: 0;
	color: var(--forground);
	/* new below */
	box-sizing: border-box;
	padding: var(--pad);
	/* background-color: var(--background); */
	border-radius: 10px;
	border-color: var(--accent-off);
	width: 95%;
	transform: translate(calc((100vw - 100%) / 2 - var(--pad)), 0);
	margin-left: var(--pad);
	margin-right: var(--pad);
	--main-height: 100%
}

@media (orientation: landscape) {
	main {
		width: 60%;
		min-width: 95vh;
		/* padding-bottom: 100%; */
	}
}

h1 {
	text-align: center;
}

button {
	/* Set the font and text styles */
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: var(--forground);

	/* Set the background color and border */
	background-color: var(--accent);
	border: none;
	border-radius: 7px;

	/* Add some padding and set the display to inline-block */
	padding: 7px 14px;
	display: inline-block;

	/* Add some visual effects */
	transition: all 0s ease;

	/* Remove the default button styles */
	cursor: pointer;
}

button:hover {
	/* Change the background color on hover */
	background-color: var(--accent-off);
}

button:active {
	/* Add a "pressed" effect on active */
	box-shadow: none;
}

code {
	background-color: var(--background-off);
	border-radius: 3px;
	font-family: courier, monospace;
	padding: 0 3px;
}

.codeblock {
	background-color: var(--background-off);
	border-radius: 3px;
	font-family: courier, monospace;
	padding: 0 3px;
}

.btn {
	text-decoration: none;
	/* Set the font and text styles */
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: var(--forground);

	/* Set the background color and border */
	background-color: var(--accent-off);
	border: none;
	border-radius: 7px;

	/* Add some padding and set the display to inline-block */
	padding: 7px 14px;
	display: inline-block;

	/* Add some visual effects */
	transition: all 0s ease;

	/* Remove the default button styles */
	cursor: pointer;
}

.btn:hover {
	background-color: var(--accent);
	/* border: none; */
}

.btn:active {
	background-color: var(--accent);
}

.blank-btn {
	color: var(--forground);
	border-radius: 0px;
	/* padding: 10px; */
	margin: 0px;
	background-color: transparent;
	border: none;
	/* font-size: 24px; */
}

.blank-btn:hover {
	/* Change the background color on hover */
	color: var(--forground-off);
	background-color: transparent;
	border: none;
}

.container {
	display: flex;
}

@media (max-width: 1000px) {
	.container {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 100%;
		flex-direction: column;
	}
}

.text-container {
	margin-left: 10px;
}

.outline {
	border-radius: 5px;
	outline: 2px solid var(--accent);
}

.shadowBox {
	/* box-shadow: 0px 0px 10px var(--accent-off);
	border-radius: 10px;
	padding: 10px; */

	--pad: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
	color: var(--forground);
	padding: var(--pad);
	background-color: var(--background);
	border-radius: 10px;
	box-shadow: 0px 0px 10px var(--accent-off);
	width: fit-content;

	/* box-sizing: border-box; */
	/* transform: translate(calc((100vw - 100%) / 2 - var(--pad)), 0); */
	/* margin-left: var(--pad);
	margin-right: var(--pad); */
}

.showcase {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.showcase-card {
	text-align: center;
	flex: 40%;
	/* width: calc(100% - 20px); */
	max-width: calc(50% - 30px);
}

nav {
	float: right;
	position: relative;
	display: inline;
}

.navDropdownButton {
	display: none;
}

@media (max-width: 720px) {
	.navDropdownButton {
		display: inline;
	}

	nav .navLinks {
		display: none;
	}

	.site-search input {
		min-width: 0%;
		width: 100%;
		flex-shrink: 1;
		flex-basis: 2;
	}

	.site-search button {
		display: none;
	}


	nav:hover .navLinks {
		display: block;
		background-color: var(--accent);
		position: absolute;
		z-index: 1;
		padding: 5%;
		right: -5;
		/* position: relative; */
		/* display: inline; */
	}
}

::-webkit-scrollbar {
	background-color: var(--background-off);
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border-radius: 10px;
}

.card-set {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	background: linear-gradient(var(--background), var(--background)) padding-box,
		linear-gradient(to top left, var(--accent-off), var(--accent)) border-box;
	border-radius: 1em;
	border: 4px solid transparent;

	width: calc(100%/3 - 55px);
	background-color: var(--background);
	overflow: hidden;
	margin-bottom: 20px;
	/* padding-bottom: 20px; */
	/* padding: 10px; */
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}

@media (max-width: 1280px) {
	.card {
		width: calc(100%/2 - 55px);
	}
}

@media (max-width: 480px) {
	.card {
		width: calc(100% - 10px);
	}
}

.card img {
	width: calc(100% + 40px);
	/* margin-top: -20px; */
	margin-left: -20px;
	height: auto;
}

/* .card h3 {
	padding: 20px;
	margin: 0;
}

.card p {
	padding: 20px;
	margin: 0;
}

.card .btn {
	margin-left: 20px;
} */

.banner-content {
	vertical-align: middle;
	z-index: 1;
	width: fit-content;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--accent-off);
	padding: 20px;
	border-radius: 20px;
}

.banner {
	position: relative;
	background-position: center;
	align-content: center;
	min-height: 20vh;
	height: 30vh !important;
	padding: 0;
}

.blank-a {
	/* text-decoration: none; */
	color: var(--forground);
}

.h2-banner {
	background-color: var(--accent-off);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

a {
	color: var(--accent);
}

a:active {
	color: var(--accent-off);
}